<br>
<br>
<br>
<br>
<br>


<div class="about-section">
    <h1>Current Admins</h1>
    <p>People who are responsible for maintaining the site</p>
    <p>Our Admins:</p>
  </div>
  
  <h2 style="text-align:center "> <strong style="color: blue;"> Our Team </strong></h2>
  <div class="row">
   
  
  
  
    <div class="column">
      <div class="card" style="background-color: whitesmoke">
        <img src="https://chatblobs.blob.core.windows.net/chat-images/fe5d66cc-dceb-45a0-8bdc-aed2b29bd094.jpeg" alt="Ahmed"  height="250px" width="200px">
        <div class="container">
          <h2>Ahmed Fathy Mohamed</h2>
          <p class="title">Full Stack Developer Using.Net</p>
          <p>A proud ITI graduate that is always eager to learn more in this field.</p>
          <p>ahmedfathymohamed1998@gmail.com</p>
          <p><button class="button" > <a href="https://www.linkedin.com/in/ahmed-fathy-9a7b44246/" style="color: wheat;" target="_blank"> Contact </a></button></p>
        </div>
      </div>
    </div>
  </div> 
