.content {
    /* Add your content styles here */
    padding: 20px;
    /* Example: background-color: #f0f0f0; */
}

footer {
    background-color: #deded5;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}